.header {
    width: 100%;
    position: absolute;
    .container {
        min-height: rem(100);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.header__text {
    line-height: prc(24, 16);
    letter-spacing: em(2, 16);
    color: #000000;
}